<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd"
    version="2.4">

  <display-name>JMS Router MBean starter</display-name>

  <servlet>
    <servlet-name>JMSRouter_MBean_starter</servlet-name>
    <servlet-class>oracle.j2ee.jmsrouter.mbean.MsgRouterMBeanServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
    <run-as>
        <role-name>jmsRouter</role-name> 
    </run-as>
  </servlet>

  <security-role>
    <role-name>jmsRouter</role-name>
  </security-role>

  <ejb-ref>
    <ejb-ref-name>ejb/AdminMgr</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>oracle.j2ee.jmsrouter.ejb.AdminMgrHome</home>
    <remote>oracle.j2ee.jmsrouter.ejb.AdminMgr</remote>
  </ejb-ref>
</web-app>
