*
{
	font-size			: 9pt			;
}
/*
body
{
	margin				: 2px			;
}
*/
h1
{
	text-align			: center		;
/*	background-color	: #c5e1ed		;*/
	padding-top			: 10px			;
	padding-bottom		: 0px			;
	font-size			: 22pt			;
	color				: #2d444f		;
}
 
table
{
	padding-top			: 0px			;
	padding-bottom		: 0px			;
}

a
{
	color				: blue			;
	text-decoration		: none			;
}
a:hover
{
	background-color	: navy			;
}

*.red
{
	color				: white			;
	background-color	: red			;
}

select
{
	font-size			: 9pt			;
	font-family			: "monospace"	;
}

hr
{
	color				: red			;
}

.map_select
{
	position			: absolute		;
	top					: 10px			;
	left				: 10px			;
	background-color	: white			;
	color				: #111111; 
	padding				: 5px			;
	border				: solid 1px		;
	line-height			: 1.8			;
}
/*
.shuhen
{
	position			: absolute		;
	left				: 10px			;
	top					: 40px			;
	background-color	: white		    ;
	color				: #2d444f		; 
	padding				: 5px			;
	border				: solid 1px		;
	filter				: Alpha(opacity=80);
}
*/
.map_logo
{
	position			: absolute		;
	right				: 2px			;
	bottom				: 2px			;
	background-color	: white			;
	color				: #2d444f		; 
	padding				: 2px			;
	border				: solid 1px		;
}

.zoom
{
	position			: absolute		;
	left				: 2px			;
	bottom				: 2px			;
	background-color	: white			;
	color				: #2d444f		; 
	padding				: 2px			;
	border				: solid 1px		;
}

/* Fig を使用する場合 */
/*  
.map_contents
{
	position			: absolute		;
	left				: 270px			;
	top					: 30px			;
	width				: 250%			;
	height				: 90%			;
	border				: 1px #2d444f solid;
}
*/
/* Div を使用する場合 */
.map_contents
{
	position			: absolute		;
	left				: 270px			;
	top					: 30px			;
	border				: 1px #2d444f solid;
}


/*
.map_iframe
{
	position			: absolute		;
	width				: 100%			;
	height				: 100%			;
	border				: 1px #2d444f solid;
}
*/

.cond
{
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
}

.left
{
	margin-left			: 10px;
	position			: absolute;
	left				: 10px;
	top					: 70px;
	height				: 80%;
	width				: 240px;
/*	border				: solid 1px		;*/
}

ol
{
	line-height			: 1.5;
}

li
{
	margin-bottom		: 8px;
}
